<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hello Impress</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div id="impress">
			<div class="step s1" data-x="100" data-scale="2" data-rotate-y="45">
				<div class="step-content">
					<img src="/img/html5.png" class="bg-img">
					<h1><code>Hello HTML5</code></h1>
					<h3><code class="shadow">&lt;html/&gt;</code></h3>
					<p class="shadow">The end is always near</p>
				</div>
			</div>
			<div class="step s2" data-x="2000" data-y="200" data-rotate="45" data-scale="0.6">
				<h2>What is HTML5?</h2>
			</div>
			<div class="step s3" data-x="1300" data-y="1200" data-scale="0.2" data-rotate="60">
				<h3>About CSS3</h3>
			</div>
		</div>
	<script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/libs/socket/socket.io.js"></script>
	<script type="text/javascript" src="/libs/impress/impress.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>